@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
/* Common Styling */
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 80px repeat(12, 1fr);
    grid-template-rows: 1fr, 2fr, 2fr, 2fr, 2fr;
    gap: 15px;
    background-color: #F8FAFB;
}
h2{
    font-size: 30px;
    color: #1F1A5A;
    margin:5px;
}
h2{
    color: #1F1A5A;
    margin:5px;
}
.fa-solid{
    color: #1F1A5A;
    font-size: 40px;
}
/* Menu Bar Styling */
.menu-bar{
    grid-row: 1/5;
    background-color: #6F6AF8;
}
.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:60px 0px;
}
.menu-bar .fa-solid{
    margin-bottom: 30px;
    color:#fff;
    font-size: 25px;
}
.menu-top, .menu-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Welcome Section Stylings */
.welcome{
    grid-column: 2/12;
}
.greeting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greeting h3{
    font-size: 30px;
    color:#1F1A5A;
}
.name{
    color:#7CCE68;
}
.greeting span>.fa-solid{
    font-size: 18px;
}

/* Combind Stylings */
.stats, .clients, .recent-clients{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-column: 2/12;
}

/* Stats Section Styling */
.balance{
    grid-column: 1/4;
    background-color: #fff;
    border-radius:10px ;
    padding: 20px;
    box-shadow: 5px 5px 20px #D0D3E2;
}
.monthly-usage{
    grid-column: 4/7;
    background-color: #fff;
    border-radius:10px ;
    padding: 20px;
    box-shadow: 5px 5px 20px #D0D3E2;
}
.employee{
    grid-column: 7/10;
    background-color: #fff;
    border-radius:10px ;
    padding: 20px;
    box-shadow: 5px 5px 20px #D0D3E2;
}
.card-spend{
    grid-column: 10/-1;
    background-color: #fff;
    border-radius:10px ;
    padding: 20px;
    box-shadow: 5px 5px 20px #D0D3E2;
}
/* Clients Section */
.new-clients, .invoice-due{
    grid-column: 1/5;
    background-color: #fff;
    border-radius:10px ;
    padding: 20px;
    box-shadow: 5px 5px 20px #D0D3E2;
}
.clients-count, .invoice-count{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.clients-count h1, .invoice-count h1{
    font-size: 40px;
    color:#1F1A5A;
    margin:0px;
}

.clients-count p{
    background-color: #E2FBDA;
    color:#7CCE68;
    padding:5px 15px;
    border-radius: 5px;
}
.invoice-count p{
    background-color: #FEDADF;
    color:#C14454;
    padding:5px 10px;
    border-radius: 5px;
}
/*Revenue Section*/
.revenue{
    grid-column: 5/-1;
    background-color: #fff;
    border-radius:10px ;
    grid-row: 1/3;
    padding: 20px;
    box-shadow: 5px 5px 20px #D0D3E2;
}
.revenue .top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Recent Clients Section Styling*/
.client{
    grid-column: 1/-1;
    background-color: #e9e9e9;
    border-radius:10px ;
    padding: 20px;
    box-shadow: 5px 5px 20px #D0D3E2;
}

.client-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px 0px;
    border-radius: 10px;
}
.client-info p{
    margin:0px;
}
.client-info:nth-child(odd){
    background-color: #FFFFFF;
}
.client-info img{
    height: 32px;
    width: 32px;
}
/* Profile Section Styling */
.profile{
    grid-column: 12/-1;
    grid-row: 1/5;
    background-color:#F2F2FD;
    padding:10px;
}
.profile-nav>.fa-solid{
    font-size: 20px;
    margin-left:10px;
}

/* Profile Status Styling */
.profile-status{
    border-radius: 10px;
    box-shadow: 5px 5px 20px #D0D3E2;
    padding:20px;
    background-color: #fff;
    position: relative;
    top:10px;
    z-index: 10;
}
.profile-status h3{
    font-size: 15px;
}
.profile-status p{
    font-size: 14px;
}
.status-btn{
    background-color: #6F6AF8;
    color:#fff;
    border: none;
    padding:10px 30px;
    border-radius: 10px;
}

progress{
    width: 8em;
}
/* .profile-nav:hover .profile-status{
    display: block;
} */
/* to do list styling */
.list-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.list-item span>.fa-solid{
    font-size: 20px;
    margin-right:5px;
    background-color: #E3E6F3;
    padding:15px;
    border-radius: 50%;
}
.profile h4{
    font-size: 14px;
    margin:0px;
}
.profile p{
    font-size: 14px;
    margin:2px;
}

.board-meeting{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding:20px;
    border-radius: 10px;
}
.board-meeting span>.fa-solid{
    font-size: 20px;
    margin-right:5px;
}